<footer class="bg-slate-900 text-white px-4 md:px-20 lg:px-40 py-16">
  <div class="grid md:grid-cols-4 gap-12 mb-12">
    <div class="col-span-2">
      <div class="flex items-center gap-2 text-primary mb-6">
        <span class="material-symbols-outlined text-3xl">home_pin</span>
        <h2 class="text-2xl font-black tracking-tighter uppercase">RENACER</h2>
      </div>
      <p class="text-slate-400 max-w-sm">
        Proyecto de vivienda social enfocado en brindar dignidad y estabilidad a
        las familias ambateñas. Juntos construimos el sueño de la casa propia.
      </p>
    </div>
    <div>
      <h4 class="font-bold mb-6">Navegación</h4>
      <ul class="space-y-4 text-slate-400">
        <li>
          <a class="hover:text-primary transition-colors" href="/proyecto">
            Sobre el Proyecto
          </a>
        </li>
        <li>
          <a class="hover:text-primary transition-colors" href="/requisitos">
            Requisitos
          </a>
        </li>
        <li>
          <a class="hover:text-primary transition-colors" href="/contacto">
            contacto
          </a>
        </li>
        <li>
          <a
            class="hover:text-primary transition-colors"
            href="/como-ser-socio"
          >
            Como ser Socio
          </a>
        </li>
      </ul>
    </div>
    <div>
      <h4 class="font-bold mb-6">Contacto</h4>
      <ul class="space-y-4 text-slate-400">
        <li class="flex items-center gap-3">
          <span class="material-symbols-outlined text-primary text-sm"
            >mail</span
          >
          arquitectomariojimenez@gmail.com
        </li>
        <li class="flex items-center gap-3">
          <span class="material-symbols-outlined text-primary text-sm"
            >phone</span
          >
          09 9973 0617
        </li>
        <li class="flex items-center gap-3">
          <span class="material-symbols-outlined text-primary text-sm"
            >phone</span
          >
          09 6288 3324
        </li>
        <li class="flex items-center gap-3">
          <span class="material-symbols-outlined text-primary text-sm"
            >location_on</span
          >
          Sector Chaupi San Luis, Ambato
        </li>
      </ul>
      <h4 class="font-bold my-6">Redes</h4>
      <ul class="space-y-4 text-slate-400">
        <li>
          <a
            href="https://www.facebook.com/people/Proyecto-de-Vivienda-Social-Renacer/61580276345234/"
          >
            <svg
              viewBox="0 0 36 36"
              style="display: inline; color:#0866FF"
              fill="#0866FF"
              height="40"
              width="40"
              ><path
                d="M20.181 35.87C29.094 34.791 36 27.202 36 18c0-9.941-8.059-18-18-18S0 8.059 0 18c0 8.442 5.811 15.526 13.652 17.471L14 34h5.5l.681 1.87Z"
              ></path><path
                style="fill: white"
                d="M13.651 35.471v-11.97H9.936V18h3.715v-2.37c0-6.127 2.772-8.964 8.784-8.964 1.138 0 3.103.223 3.91.446v4.983c-.425-.043-1.167-.065-2.081-.065-2.952 0-4.09 1.116-4.09 4.025V18h5.883l-1.008 5.5h-4.867v12.37a18.183 18.183 0 0 1-6.53-.399Z"
              ></path></svg
            >
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
