
<meta name="author" content="Deerhou" />
<meta name="application-name" content="Proyecto de vivienda Renacer" />
<meta name="generator" content="Astro" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="icon" href="/favicon.ico" />

<!-- <title>Proyecto de Vivienda Social Renacer | Terrenos en Ambato</title> -->
<!-- <meta name="description" content="Proyecto de vivienda social Renacer en Ambato. Una oportunidad para personas que no tienen vivienda propia y desean obtener su primer terreno. Conoce requisitos y cómo ser socio."> -->

<!-- SEO Básico -->
<meta name="keywords" content="vivienda social Ambato, terrenos en Ambato, proyecto de vivienda Ambato, MIDUVI Ambato, obtener terreno Ambato, comité de vivienda Ambato">
<meta name="language" content="Spanish">
<meta name="geo.region" content="EC-T">
<meta name="geo.placename" content="Ambato">

<link rel="canonical" href="https://proyectoviviendarenacer.netlify.app/">

<meta property="og:locale" content="es_EC">

<meta name="theme-color" content="#2E7D32">